<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="styles.css" type="text/css">
		<title>Address Book: Search</title>
	</head>

	<body>
		<div class="container">
			<div class="row header">
				<div class="col-sm-6">
					<h1>Online Address Book</h1>
				</div>
				<div class="col-sm-6">
					<div class="search">
						<form class="" action="/search" method="post">
							<!-- <label for="search">Search Contacts:</label> -->
							<input type="text" name="search" value="">
							<button type="submit" name="button">Search Contacts</button>
						</form>
					</div>
				</div>
			</div>
<!-- Search Results -->
			<div class="row">
				<div id="contactList" class="col-sm-5 col-sm-offset-1">
					<h2>Search Results</h2>

					{% if matching_contacts is not empty %}

						{% for contact in matching_contacts%}
							<p>Name: {{ contact.fullName() }}</p>
							<ul>
								<li>Phone: {{ contact.getPhone() }}</li>
								<li>Address: {{ contact.getStreet() }}, {{ contact.getCity() }} {{ contact.getState() }}</li>
							</ul>
							<p></p>
							<p>Address:</p>
						{% endfor %}
					{% else %}
						<h3>No Contacts Found</h3>
						<p>Please Search Again</p>
					{% endif %}


					<form class="" action="/" method="get">
						<button type="submit">See All Contacts</button>
					</form>
				</div>
			</div>

		</div>
	</body>
</html>
